#logo_footer{
    align-content: center;

    @media only screen and (max-width: 768px) and (min-width: 425px) {
        width: 25%;
    }

    @media only screen and (max-width: 425px) {
        width: 50%;
    }
}

#text_center{
    justify-content: center;
}

#text{
    display: block;
    padding: 5px;
    margin: 2px;
}

#titulo {
    text-align: center;
    padding: 5px;
    margin: 2px;
    background-color: green;
    color: white;
}

.searching-bar {
    background-color: green;
}

#nav{
    justify-content: center;
}

.contact-style{
    background-color: green;
    color: #fff;
}

.paragraphs-contact{
    border: solid green 2px; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav_item_footer {
    width: 50%;
}
.nav-style{
    background-color: #2e5c41;
    color: #fff;
}

.nav_item_footer {
    width: 50%;
}

.cor_botao{
    background-color: #28a745;
    a{
      color: #fff;  
    }
    a:hover{
      color: #ddd;  
    }
}

@media only screen and (max-width: 767px) {
    .resp_flexD{
        flex-direction: column-reverse;
    }
}

.aula_style{
    text-align: center;

    @media only screen and (max-width: 425px) {
        max-width: 300px;
    }
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}