/* Classe personalizada com tom de azul */
.custom-blue-header {
    background-color: #007bff; /* Tom de azul personalizado */
    color: #fff; /* Cor do texto */
}

#nav{
    justify-content: center;
}

.contact-style{
    background-color: #008f21;
    color: #fff;
}

.paragraphs-contact{
    border: solid #005614 2px; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}