.contact-style{
    background-color: #2e5c41;
    color: #fff;
}

.paragraphs-contact{
    border: solid #2e5c41 2px; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav_item_footer {
    width: 50%;
}